body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.controles {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffa500;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#detallesPokemon {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center; /* Añadido para centrar el contenido */
}

img {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    max-width: 200px;
    height: auto;
}

h2, p {
    text-align: center; /* Centra el texto dentro de h2 y p horizontalmente */
}

p {
    margin: 10px auto; /* Centra los párrafos horizontalmente */
    color: #666;
}
